* {
    box-sizing: border-box;
}

html {
    font-size: 1vmax;
}
body{
    font-family: sans-serif;

}
.header{
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 1% 2%;
}
.header > h3{
    font-size: 2rem
}
.item-img, .cart-img{
    object-fit: contain;
    object-position: center;
    height: 15vw;
    width: 100%;
}

.details-img > img {
    object-fit: contain;
    width: 100%;
    max-height: 30vmax;
}

.item-card{
    margin: .5vmax .5vmax;
    width: 25vw;
    padding: .2vmax;
    cursor: pointer;
}
.card-body{
    padding: .1vmax
}
.card-title{
    font-size: 1.6rem;
}
.price,
.details-price{
    font-size: 1rem;
    margin: .1vmax;
    color: grey;
}
.details-short,
.card-text{
    font-size:1.2rem
}

.container-fluid{
    padding: 1rem
}
.details-back-button{
    cursor: pointer;
    margin: .5rem;
}


.details-long{
    font-size: 1.6rem;
}

.cart-item{
    max-height: 20vh;
}

.cart-img-container{
    min-width: 35%;
    width: 35%;
    max-height: 20vh;
    margin-right: 1rem;
}

.cart-icon,
.logo{
    cursor: pointer;
}
