* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

}
.header{
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 1% 2%;
}
.header > h3{
    font-size: 2rem
}

.item-img{
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.cart-img{
    object-fit: contain;
    object-position: center;
    max-height: 19vh;
    height: 100%;
    width: 100%;
}

.details-img > img {
    object-fit: contain;
    width: 100%;
    max-height: 30vmax;
}

.item-card{
    margin: .5vmax .5vmax;
    padding: .2vmax;
    cursor: pointer;
}
.card-body{
    padding: .1vmax
}
.card-title{
    font-size: 2rem;
}
.price,
.details-price{
    font-size: 1rem;
    margin: .1vmax;
    color: grey;
}
.card-text{
    font-size:1.1rem
}

.container-fluid{
    padding: 1rem
}
.details-back-button{
    cursor: pointer;
    margin: .5rem;
    font-size: 1.6rem;
}


.cart-item{
    max-height: 20vh;
    margin-bottom: 1rem;
}

.cart-img-container{
    min-width: 35%;
    width: 35%;
    max-height: 20vh;
    margin-right: 1rem;
}

.cart-icon,
.logo{
    cursor: pointer;
}

.banner-img{
    height: 100%;
    width: 100%;
}

/* @media screen and (min-width: 900px){
    .details-long,
    .details-short{
        font-size: 1rem
    }
} */
